<div class="nav">
        <div class="navtop">
            <img src="/Images/beatblock-logo.png" alt="The Beat Block" srcset="">
            <div class="burger"><i class="fas fa-bars fa-lg"></i></div>
        </div>
        <div class="navLinks">
            <a href="/">Home</a>
            <a href="/music">Music</a>
            <!-- <a href="/blog">Blog</a> -->
            <% if(user)  { %> 
                <a href="/logout">Logout</a> 
            <% } else { %> 
            <a href="/login">Login</a>
            <% }; %>
            <a href="/about">About Us</a>
            <button id="colorscheme"></button>
        </div>
    </div>