<%- include('../partials/head') -%> 
<%- include('../partials/nav') -%> 
    <section class="content">
        <h1>Share what's on your mind.</h1>
        <h2>We'll see if we can help</h2>
        <div class="form-container">
            <form action="update.html">
                <h1>Ask Away</h1>
                <div>
                    <label for="Question">Question: </label>
                    <textarea name="Question" placeholder="Ask us about music:" id="Question" cols="30" rows="10"></textarea>
                </div>
                <button type="submit">Submit Question</button>
            </form>
        </div>
    </section>

<!-- Footer -->
<%- include('../partials/footer') -%> 