<%- include('../partials/head') %> 
<%- include('../partials/nav') %> 
    <header class="header">
        <div class="headerimage">
        </div>
    </header>

    <section class="content top-border">

        <h2>Welcome to the Beat Block<% if(user) { %>, <span class="green-text"><%= user.username %></span>!<% } %></h2>

        <section class="content-item">
            <div>
            <h3>Be A Part of Our Community</h3>
            <h4>You can join a group of many music producers. You can feel free to inspire and encourage others through music and even be encouraged and inspired by the music of others.</h4>
            </div>
            <div class="div-image" style="background-image: url(/Images/people.jpg);">
            </div>
        </section>

        <section class="content-item">
            <div>
                <h3>Share Your Own Music!</h3>
                <h4>You can listen to music and upload some of your own by <a class="click-me" href="/music">Clicking Here</a></h4>
                </div>
                <div class="div-image" style="background-image: url(/Images/mixer2.jpg);">
                </div>
        </section>

        <section class="content-item">
            <div>
                <h3>Follow Us On Social Media!</h3>
                <p>You can find us all over the place!</p> 
                    <a class="clicky"><i class="fab fa-facebook-f"></i> @thebeatblock</a>
                    <a class="clicky"><i class="fab fa-instagram"></i> @beatblockmusic</a>
                    <a class="clicky"><i class="fab fa-soundcloud"></i> @thebeatblock</a>
                    <a class="clicky"><i class="fab fa-twitter"></i> @thebeatblock</a> 
            </div>
            <div class="div-image" style="background-image: url(/Images/contact.jpg);">
            </div>
        </section>
    </section>
</div>

<!-- Footer -->
<%- include('../partials/footer') %> 
