<%- include('../partials/head') -%> 
<%- include('../partials/nav') -%> 

    <section class="content">

    <h1>Upload Some Music of Your Own</h1>

    <div class="form-container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <h1>Upload A Song</h1>
            <div>
                <label for="username">Artist: </label>
                <input autocomplete="off" name="username" placeholder="username" type="text" value="<%= user.username %>" readonly required>
            </div>
            <div>
                <label for="collaborators">Featuring (optional): </label>
                <input autocomplete="off" name="collaborators" placeholder="Collaborators" type="text" >
            </div>
            <div>
                <label for="title">Song Title: </label>
                <input autocomplete="off" name="title" placeholder="Title" type="text" required>
            </div>
            <div>
                <label for="Genre">Genre: </label>
                <select name="genre" id="genre" required>
                    <option value="" disabled selected>Select Genre</option>
                    <option value="Blues">Blues</option>
                    <option value="Classical">Classical</option>
                    <option value="Country">Country</option>
                    <option value="Electronic">Electronic</option>
                    <option value="Hip-hop">Hip-hop</option>
                    <option value="House">House</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Pop">Pop</option>
                    <option value="R&B">R&B</option>
                    <option value="Reggae">Reggae</option>
                    <option value="Rock">Rock</option>
                    <option value="Other">Other</option>
                    
                </select>
            </div>
            <div>
                <label for="Description">Description: </label>
                <textarea name="description" placeholder="Details about this song:" id="Description" cols="30" rows="10" required></textarea>
            </div>
            <div>
                <label for="file">MP3 File: </label>
                <input type="file" name="file" class="addfile" id="mp3song" accept=".mp3" onchange="return fileValidation()" required>
            </div>
            <button type="submit" value="submit">Add Song</button>
        </form>
    </div>
    </section>
<!-- Footer -->
<%- include('../partials/footer') -%> 