<%- include('../partials/head') -%> 
<%- include('../partials/nav') -%> 

    <section class="content">

    <h1>Upload Some Music of Your Own</h1>

    <div class="form-container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <h1>Upload A Song</h1>
            <div>
                <label for="username">Artist: </label>
                <input name="username" placeholder="username" type="text" value="<%= user.username %>" readonly>
            </div>
            <div>
                <label for="title">Song Title: </label>
                <input name="title" placeholder="title" type="text">
            </div>
            <div>
                <label for="Genre">Genre: </label>
                <input name="Genre" placeholder="What's Your Genre of Preference?" type="text">
            </div>
            <div>
                <label for="Description">Description: </label>
                <textarea name="Description" placeholder="Details about this song:" id="Description" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="MP3 File">MP3 File: </label>
                <input type="file" name="song" class="addfile" id="song">
            </div>
            <button type="submit">Add Song</button>
        </form>
    </div>
    </section>
<!-- Footer -->
<%- include('../partials/footer') -%> 
