<%- include('../partials/head') -%> 
<%- include('../partials/nav') -%> 

    <section class="content">

    <h1>Upload Some Music of Your Own</h1>

    <div class="form-container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <h1>Upload A Song</h1>
            <div>
                <label for="username">Artist: </label>
                <input name="username" placeholder="username" type="text" value="<%= user.username %>" readonly required>
            </div>
            <div>
                <label for="collaborators">Featuring (optional): </label>
                <input name="collaborators" placeholder="Collaborators" type="text" >
            </div>
            <div>
                <label for="title">Song Title: </label>
                <input name="title" placeholder="Title" type="text" required>
            </div>
            <div>
                <label for="Genre">Genre: </label>
                <input name="genre" placeholder="Genre" type="text" required>
            </div>
            <div>
                <label for="Description">Description: </label>
                <textarea name="description" placeholder="Details about this song:" id="Description" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="file">MP3 File: </label>
                <input type="file" name="file" class="addfile" id="song" accept=".mp3" required>
            </div>
            <button type="submit" value="submit">Add Song</button>
        </form>
    </div>
    </section>
<!-- Footer -->
<%- include('../partials/footer') -%> 