<%- include('../partials/head') -%> 
<%- include('../partials/nav') -%> 

    <section class="content">

    <h1>Upload Some Music of Your Own</h1>

    <div class="form-container">
        <form action="update.html">
            <h1>Upload A Song</h1>
            <div>
                <label for="artist">Artist: </label>
                <input name="artist" placeholder="artist" type="text">
            </div>
            <div>
                <label for="Name">Song Name: </label>
                <input name="Name" placeholder="Name" type="text">
            </div>
            <div>
                <label for="Genre">Genre: </label>
                <input name="Genre" placeholder="What's Your Genre of Preference?" type="text">
            </div>
            <div>
                <label for="Description">Description: </label>
                <textarea name="Description" placeholder="Details about this song:" id="Description" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Add Song</button>
        </form>
    </div>
    </section>
<!-- Footer -->
<%- include('../partials/footer') -%> 
